<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
        <title>User Registration</title>

        <style>
        .table td{
            text-align: justify !important;
        }


        </style>
    </head> 
	
    <body>
		
        <div class="jumbotron container">
        <h2 align="center">User Registration Page</h2>

		<form action="/" method="POST">
			<table class="table table-striped">
			<tbody>
				<tr>
					<td align="right">Email:</td>
					<td><input type="text" name="email" value="<%= user.email %>"></td>
					<td><% if( user.checkValidity && user.getErrors().includes("email") ){
							%><font style="color: red;">@ is required</font><% } %></td>
				</tr>
				<tr>
					<td align="right">Password:</td>
					<td><input type="password" name="password" value="<%= user.password %>"></td>
                    <td><% if( user.checkValidity && user.getErrors().includes("password") ){
                         %><font style="color: red;">Min 4 chars</font><% } %></td>
				</tr>
				<tr>
					<td align="right">Programming Skills:</td>
					<td>
						<input type="checkbox" name="nodejs" value="nodejs"
							<% if(user.skills.includes("Nodejs")){ %>checked<% } %>
								> Nodejs &nbsp
						<input type="checkbox" name="java" value="java"
                            <% if(user.skills.includes("Java")){ %>checked<% } %>
								> Java &nbsp
						<input type="checkbox" name="aspnet" value="aspnet"
                            <% if(user.skills.includes("ASP.NET")){ %>checked<% } %>
								> ASP.NET &nbsp
						<input type="checkbox" name="php" value="php"
                            <% if(user.skills.includes("PHP")){ %>checked<% } %>
								> PHP &nbsp
					</td>
					<td><% if( user.checkValidity && user.getErrors().includes("skills") ){
						%><font style="color: red;">At least one skill is required</font><% } %></td>
				</tr>
				<tr>
					<td align="right">Major</td>
					<td>
						<input type="radio" name="major" value="CS"
							<% if(user.major === "CS"){ %>checked<% } %>
								> CS &nbsp
						<input type="radio" name="major" value="SE"
							<% if(user.major ==="SE"){ %>checked<% } %>
								> SE &nbsp
					</td>
					<td><% if( user.checkValidity && user.getErrors().includes("major") ){
						%><font style="color: red;">Not selected</font><% } %></td>
				</tr>
				<tr>
					<td align="right">Residency</td>
					<td>
						<select id="city" name="city">
							<option value="">-- Choose --</option>
							<option value="Edmond"
                                <% if(user.residency  === "Edmond"){ %>selected<% } %>
								>Edmond</option>
							<option value="OKC"
                                <% if(user.residency  === "OKC"){ %>selected<% } %>
								>Oklahoma City</option>
							<option value="Moore"
                                <% if(user.residency  === "Moore"){ %>selected<% } %>
								>Moore</option>
							<option value="Bethany"
                                <% if(user.residency  === "Bethany"){ %>selected<% } %>
								>Bethany</option>
							<option value="Norman"
                                <% if(user.residency  === "Norman"){ %>selected<% } %>
								>Norman</option>
						</select>
					</td>
					<td><% if( user.checkValidity && user.getErrors().includes("residency") ){
						%><font style="color: red;">Not selected</font><% } %></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button type="submit" class="btn btn-primary">Register</button>
					</td>
				</tr>
			</tbody>
			</table>
		</form>

        </div> <!-- jumbotron -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>